*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.container-menu{
    display: flex;
    align-items: center;
    gap: 10px;

}

.container-menu nav a{
    color: aliceblue;
    text-decoration: none;
}

.logo{
    width: 100px;
}

.whats-link{
    position: fixed;
    bottom: 60px;
    right: 50px;
}

.whats-img{
    width: 60px;
}

.cart-container{
    border-color: pink;
    position: relative;
}

.cart-container span {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    font-size: 8px;
    border-radius: 50%;
    padding: 0.5px 3px;
    color: aliceblue;
}

.menu-extra{
    position: relative;
}


.menu-dropdown{
    width: 100px;
    height: 200px;
    position: fixed;
    background: rgb(44, 44, 44);
    font-size: 12px;
    padding: 10px 5px;
    position: absolute;
    top: 100%;
    left: 20px;
    visibility: hidden;
    align-items: flex-end;

}

.menu-extra:hover .menu-dropdown{
  visibility: visible;
}

.menu-dropdown a{
    color: aliceblue;
    text-decoration: none;
}
